<form class="{{cssClass}} flexcol" autocomplete="off">

  <!-- Item Sheet Header -->
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND5E.ItemName' }}" />
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary flexrow">
        <li></li>
        <li>
          <input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="{{ localize 'DND5E.Rarity' }}" />
        </li>
        <li>
          <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND5E.Source' }}" />
        </li>
      </ul>
    </div>
  </header>

  <!-- Item Sheet Navigation -->
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "DND5E.Description" }}</a>
    <a class="item active" data-tab="details">{{ localize "DND5E.Details" }}</a>
  </nav>

  <!-- Item Sheet Body -->
  <section class="sheet-body">

    <!-- Description Tab -->
    {{> "modules/itemcollection/templates/bag-description.html"}}

    <!-- Details Tab -->
    <div class="tab details itemcollection-details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize 'DND5E.ItemContainerDetails'}} {{parentName}}</h3>

      <div class="form-group compressed" style="flex-direction: column; padding-bottom: 1.5rem;">
        <label class="checkbox">
          <input type="checkbox" name="data.capacity.weightless" {{checked data.capacity.weightless}}>
          {{localize 'DND5E.ItemContainerWeightless'}}
        </label>

        <div><label>{{localize 'itemcollection.itemsWeight'}} </label> {{itemsWeight}} <label> {{weightUnit}}</label> </div>
        <div><label>{{localize 'itemcollection.totalGoldValue'}} </label> {{totalGoldValue}} </div>
      </div>

      {{#if data.currency}}
      <ol class="currency flexrow" style="justify-content: center;">
        {{#each data.currency as |v k|}}
        <label>{{ lookup ../currencies k }}</label>
        <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
        {{/each}}
      </ol>
      {{/if}}

      <li class="items-header" style="text-align: center; grid-template-columns: 4fr 1fr 1fr 1fr 1fr; display: grid; align-items: center;">
        <div class="item-name" style="text-align: start;">{{localize 'itemcollection.Name'}}</div>
        <div class="item-detail">{{localize 'itemcollection.Quantity'}}</div>
        <div class="item-detail item-weight">{{localize "DND5E.Weight"}}</div>
        <div class="item-detail item-weight">{{localize "DND5E.Weight"}} (Stack)</div>
        <div class=item-control>
          {{#if isOwned}}
          <a class="item-control item-export-all" title="{{localize 'itemcollection.itemExportAll'}}"><i class="fas fa-minus"> {{localize 'itemcollection.All'}}</i></a>
          <a class="item-control item-import-all" title="{{localize 'itemcollection.itemImportAll'}}"><i class="fas fa-plus"> {{localize 'itemcollection.All'}}</i></a>
          {{/if}}
          <a class="item-control item-compact-all" title="{{localize 'itemcollection.itemCompactAll'}}"><i class="fas fa-star"> {{localize 'itemcollection.All'}}</i></a>
        </div>
      </li>

      <ol class="items-list inventory-list">
        {{#each flags.itemcollection.contentsData as |item iid|}}
        <li class="item" data-item-id="{{item._id}}" style="display: grid; text-align: center; grid-template-columns: 4fr 1fr 1fr 1fr 1fr;">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
            <h4>
              {{#if item.isSpell}}
              {{item.data.level}}
              {{/if}}
              {{item.name}}
            </h4>
          </div>
          <div>{{item.data.quantity}}</div>
          <div>{{item.data.weight}} {{../weightUnit}}</div>
          <div>{{item.totalWeight}} {{../weightUnit}}</div>

          <div class="item-controls flexrow">
            <a class="item-control item-edit" title='{{localize "DND5E.ItemEdit"}}'><i class="fas fa-edit"></i></a>
            {{#if item.isBackpack}}
            <a class="item-control item-export" title="{{localize 'itemcollection.itemExportB'}}"><i class="fas fa-asterisk"></i></a>
            {{else}}
            {{#if ../isOwned}}
            {{#if ../canImportExport}}
            <a class="item-control item-export" title="{{localize 'itemcollection.itemExport'}}"><i class="fas fa-minus"></i></a>
            {{/if}}
            {{/if}}
            <a class="item-control item-split" title="Split Item"><i class="fas fa-columns"></i></a>
            {{#if ../canConvertToGold}} <a class="item-control item-convertToGold" title="Convert To Gold"><i
                class="fas fa-dollar-sign"></i></a> {{/if}}
            {{/if}}
            <a class="item-control item-delete" title='{{localize "DND5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>
